.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navbar {
  height: 80px;
  background-color:darkslateblue;
  display: flex;
  color: white;
  padding: 15px;
  justify-content: space-between;
}
.navbar-title {
  cursor: pointer;
}
.country {
  display: flex;
  padding: 15px;
}
.country > h3 {
  margin-left: 10px;
  cursor: pointer;
}

.navbar-input {
  min-width: 320px;
  margin-top: 20px;
}
.navbar-input > input {
  min-width: 320px;
  min-height: 50px;
  border-radius: 20px;
  margin-left: 50px;
}